* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #F8FAFC; /* Semi-transparent background */
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 2rem; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar-brand a img {
    height: 70px; /* Adjust height as needed */
    max-height: 100%;
    width: auto;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li {
        width: 100%;
        text-align: left;
        margin: 0.5rem 0;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }

    .dropdown-content a {
        padding-left: 2rem;
    }
}